* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: 20px;
    justify-content: center; 
    align-items: center;
    font-family: 'Barlow', sans-serif;
    height: 75%;
}
.logo {
    margin-right: 5%;
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}
#nyc {
    color: #274c62;
    font-size: 1rem;
}
.tabs {
    display: flex;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    margin: 0 25px;
    display: inline-block;
    color: #274c62;
    font-size: 1.25rem;
    font-weight: 200;
}
a:hover {
    color: #f46a13;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#navbtn {
    color: white;
    background-color: #f46a13;
    border-radius: 15px;
    padding: 10px;
    width: 125px;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    position: absolute;
    outline: none;
}
#navbtn:hover {
    color: black;
    border: 1px solid #f46a13;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.hero {
    height: 65vh;
    
}
#heroWords {
    display: block;
    margin: 50px;
    font-family: 'Barlow', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    padding: 0 50px;
    color: #274c62;
}

#heropar {
    text-align: center;
    margin: 50px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;

}
.btndiv {
    position: absolute;
    margin: auto;
    left: 42.5%;
    top: 55%;   
}
#herobtn {
    color: white;
    background-color: #f46a13;
    border-radius: 15px;
    padding: 10px;
    width: 175px;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}
#herobtn:hover {
    color: black;
    border: 1px solid #f46a13;
    background-color: white;

}
#heroImg {
    background-size: cover;
    height: 90%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.featured {
    background-color: #274c62;
    height:400px;
}
#featurehead {
    text-align: center;
    margin-top: 25px;
    font-family: 'Barlow', sans-serif;
    color: white;
    background-color: #274c62;
    font-size: 3rem;
    padding: 25px 75px;
    font-weight:  400;
}
.theHunt {
    font-family: 'Krona One', sans-serif;
}
#the {
    color: #f46a13;
}
#hunt {
    color: #F4BE86;
}
.attribute {
    display: flex;
    margin: 20px;
    height: 900px;
}
.att-pic {
    height: 300px;
    width: 40%;
    margin-right: 10%;

}
.att-words {
    margin-top: 20%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow',sans-serif;
    height: 100%;

}
.att-words h1 {
    font-size: 2.5rem;
    color: #274c62;

}
.att-words p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.att2-words {
    margin-top: 20%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow',sans-serif;
    height: 100%;
}
.att2-words h1 {
    font-size: 2.5rem;
    color: #274c62;

}
.att2-words p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.a2bute {
    flex-direction: row-reverse;
}
.att3-words {
    margin-top: 20%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow',sans-serif;
    height: 100%;
}
.att3-words h1 {
    font-size: 2.5rem;
    color: #274c62;

}
.att3-words p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.att4-words {
    margin-top: 20%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow',sans-serif;
    height: 100%;
}
.att4-words h1 {
    font-size: 2.5rem;
    color: #274c62;

}
.att4-words p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.a4bute {
    flex-direction: row-reverse;
}
.heroImage {
    height: 700px;
    width: 75%;
}
.footer {
    background-color: #274c62;
    height: 250px;
}
@media only screen and (max-width: 600px) {
    #navbtn {
      display: none;
    }
    .logo {
        font-size: 1rem;
    }
    a {
        display: none;
    }
    #heroWords {
        font-size: 2.25rem;
    }
    .btndiv {
        left: 35%;
    }
    .attribute {
        display: flex;
        flex-direction: column-reverse;
    }
    .att-pic {
        margin-left:10%;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .att-words h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        font-size: 2.25rem;
    }
    .att-words p {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 10px;
    }
    .att2-words h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        font-size: 2.25rem;
    }
    .att2-words p {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 10px;
    }
    .att3-words h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        font-size: 2.25rem;
    }
    .att3-words p {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 10px;
    }
    .att4-words h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        font-size: 2.25rem;
    }
    .att4-words p {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 10px;
    }
    #featurehead {
        font-size: 2.5rem;
    }
    .featured {
        height: 100%;
    }
  }